.row{
    background-color: darkred;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga", "kern";
    color: white;
}

.row1{
    background-color: darkred   ;
    height: 50px;
    margin: 10px;
}

.row2{
    background-color: darkred;
    height: 10px;
    margin: 10px;
}    

.orf{
    background-color: firebrick;
    width: 250px;
    height: 150px;
    margin: 0px;
}

.vorarlberg{
    background-color: firebrick;
    width: 150px;
    height: 50px;
    margin: 10px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga", "kern";
    color: white;
    font-size: 35px;
}

.box{
    background-color: firebrick;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.row3{
    background-color: maroon;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga", "kern";
    color: white;
}

.row3_1{
    background-color: maroon;
    height: 50px;
    margin: 10px;
}

.box2{
    background-color: white;
    width: 1000px;
    height: auto;
    position: absolute;
    left: 250px;
    right:  250px;
    bottom: -190px;
}

.text1{
    font-size: 30px;
    color: gray;
    left:50px;
    margin: 10px;
}

.text2{
    font-size: 50px;
    margin: 10px;
    font-weight: 600;
}

.text3{
    font-size: 27px;
    margin: 10px;
}

.text4{
    background-color: yellow;
    width: 400px;
    font-size: 27px;
}

.text5{
    background-color: yellow;
    width: 400px;
    font-size: 27px;
}

.box3{
    background-color: white;
    width: 99%;
    height: auto;
    position: absolute;
    top: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text6{
    background-color: white;
    font-size: 27px;
    width: 800px;
    margin: 10px;
}

.text7{
    background-color: white;
    font-size: 35px;
    width: 800px;
    margin: 5px;
    font-weight: 600;
}

.text8{
    background-color: white;
    font-size: 27px;
    width: 800px;
    margin: 5px;
}

.text9{
    background-color: white;
    font-size: 35px;
    width: 800px;
    margin: 5px;
    font-weight: 600;
}

.text10{
    background-color: white;
    font-size: 27px;
    width: 800px;
    margin: 5px;
}